
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <a href="/CV/Home">Home || </a>
    <a href="/CV/Education">Education || </a>
    <a href="/CV/Projects">Projects || </a>
    <a href="/CV/References">References </a>
</head>
<body>
    <div> 
    </div>
</body>
</html>
