
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    
    <a href="/CV/Home">Home || </a>
    <a href="/CV/Education">Education || </a>
    <a href="/CV/Projects">Projects || </a>
    <a href="/CV/References">References </a>

</head>
<body>
    <div> 
        <br />
        Name : @ViewBag.name
        <br />
        ID : @ViewBag.id
        <br />
        Email Address : @ViewBag.email
        <br />
        Contact Number : @ViewBag.contact
    </div>
</body>
</html>
