
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
    <a href="/CV/Home">Home || </a>
    <a href="/CV/Education">Education || </a>
    <a href="/CV/Projects">Projects || </a>
    <a href="/CV/References">References </a>
</head>
<body>
    <div> 
        <br />
        <ul>
            <li><h3>OOP1 (Java) :</h3></li>
            <ul>
                <li>@ViewBag.oop1</li>
            </ul>
        </ul>
        <ul>
            <li><h3>OOP2 (C#)</h3></li>
            <ul>
                <li>@ViewBag.oop2</li>
            </ul>
        </ul>
        <ul>
            <li><h3>Web Technologies</h3></li>
            <ul>
                <li>@ViewBag.web</li>
            </ul>
        </ul>
        <ul>
            <li><h3>Advance Programming in Web Technologies</h3></li>
            <ul>
                <li>@ViewBag.advWeb</li>
            </ul>
        </ul>
    </div>
</body>
</html>
